[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pyqt5 = "*"
flask = "*"
flask-sqlalchemy = "*"
numpy = "*"
pandas = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
